{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %}
{% if messages %}
 {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong id="g_msg">Message : {{message}} </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% endif %}
    
    <ul class="blue_box" style="list-style-type:disc">
        <li><h6>{{location.State}}</h6></li>
        <li>Please check spelling and ensure your information is correct!</li>
        <li>Each field must be filled out according to the gray hints and information from your DL.</li>
        <li>Don't leave any fields empty - they won't fill in automatically!</li>
    </ul>
    <section class="qr-form-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form name="bgform" method="POST" class="qr-form-inner row">{% csrf_token %}
                        
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="dlnumber" >DL Number:</label>
                                <input class="input-defult" type="text" name="dlnumber" id="dlnumber" placeholder="7465146">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="firstname" >First Name:</label>
                                <input class="input-defult" type="text" name="firstname" id="firstname" placeholder="Christopher">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="middlename" >Middle Name:</label>
                                <input class="input-defult" type="text" name="middlename" id="middlename" placeholder="B">
                            </div>  
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="lastname" >Last Name:</label>
                                <input class="input-defult" type="text" name="lastname" id="lastname" placeholder="Hodge">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="address" >Address:</label>
                                <input class="input-defult" type="text" name="address" id="address" placeholder="5693 Kenai Fjords Loop">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="city" >City:</label>
                                <input class="input-defult" type="text" name="city" id="city" placeholder="Anchorage">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="zipcode" >Full Zipcode:</label>
                                <input class="input-defult" type="text" name="zipcode" id="zipcode" placeholder="99502000">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="dclass" >Driving Class:</label>
                                <input class="input-defult" type="text" name="dclass" id="dclass" placeholder="D">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="rcode" >Restriction Codes:</label>
                                <input class="input-defult" type="text" name="rcode" id="rcode" placeholder="NONE">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="ecode" >Endorsement Codes:</label>
                                <input class="input-defult" type="text" name="ecode" id="ecode" placeholder="NONE">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="dob" >Date of Birth:</label>
                                <input class="input-defult" type="date" name="dob" id="dob" placeholder="01011951">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="edate" >Expire Date:</label>
                                <input class="input-defult" type="date" name="edate" id="edate" placeholder="01012022">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="idate" >Issue Date:</label>
                                <input class="input-defult" type="date" name="idate" id="idate" placeholder="08032018">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="udate" >Under 21 untill:</label>
                                <input class="input-defult" type="date" name="udate" id="udate" placeholder="01011972">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="height" >Height (in.):</label>
                                <input class="input-defult" type="text" name="height" id="height" placeholder="70">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="weight" >Weight (lb.):</label>
                                <input class="input-defult" type="text" name="weight" id="weight" placeholder="165">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="eyeclr" >Eye Color Code:</label>
                                <input class="input-defult" type="text" name="eyeclr" id="eyeclr" placeholder="BRO">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="hairclr" >Hair Color Code:</label>
                                <input class="input-defult" type="text" name="hairclr" id="hairclr" placeholder="BRO">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="gender">Gender:</label>
                                <select name="gender" id="gender" class="select-defult" onchange="Validate()">
                                    <option value=""></option>
                                    <option value="Male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="discriminator" >Document Discriminator:</label>
                                <input class="input-defult" type="text" name="discriminator" id="discriminator" placeholder="1134488 505180803CSYM-0">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-box">
                                <label for="connum" >Invetory Control Number:</label>
                                <input class="input-defult" type="text" name="connum" id="connum" placeholder="1000002331">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-box pay-btn-box" >
                                <button type="submit" id="submit" value="Validate" onclick="return Validate()">Generate Barcode</button>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block script %}
	<script type="text/javascript" src="{% static 'index.js' %}"></script>
{% endblock script %}