{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
body{
    background-color: #fbfbfb;
}
</style>
{% endblock %}
{% block content %}
{% if messages %}
 {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong id="g_msg">Message : {{message}} </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% endif %}

<div class="container my-4">

<div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">Select State</h5>
    <div class="row">
        
        {% for location in locations %}
            <div class="col-md-3 col-lg-3">
                <a href="{% url 'state' location.Abbreviation %}" style="text-decoration:none;margin:2px 0px">{{location.State}} </a>
            </div>
        {% endfor %}
    </div>
  </div>
</div>

</div>

{% endblock %}